<h3> Personal Information </h3>
<form action="/signup" method="post">
  <table>
    <tr>
      <td><label> Institution / Organization*</label></td>
      <td><input type="text" name="institution" required></td>
    </tr>
    <tr>
      <td><label> Department </label></td>
      <td><input type="text" name="email"></input>
      </td>
    </tr>
    <tr>
      <td><label> Title* </label></td>
      <td>
        <input type="radio" name="title" value="Dr.">Dr.<br>
        <input type="radio" name="title" value="Prof.">Prof.<br>
        <input type="radio" name="title" value="Mr.">Mr.<br>
        <input type="radio" name="title" value="Ms.">Ms.<br>
      </td>
    </tr>
    <tr>
      <td><label>Username</label></td>
      <td><input type="text" name="username"></td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><input type="password" name="password"></td>
    </tr>
    <tr>
      <td> </td>
      <td> <input type="submit" value="Signup"></input>
      </td>
    </tr>
  </table>
</form>
